/* Contact Section */
#contact {
	background: url(../img/contact-bg.jpg) no-repeat center top;
	/* background-color: #7bc3d1; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.75+100 */
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#bf053740', GradientType=0 ); /* IE6-9 */
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	/* color: #fff; */
}
#contact form {
	padding: 20px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #ff6600;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #ccc;
}
.form-control:-moz-placeholder {
color: #ccc;
}
.form-control::-moz-placeholder {
color: #ccc;
}
.form-control:-ms-input-placeholder {
color: #ccc;
}
#contact .btn {
	margin-top: 20px;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fab {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fab:hover {
	color: #25BAD0;
}

/* Footer Section*/
#footer {
	background: #03252b;
	padding: 25px 0 20px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #aaa;
}
#footer a:hover {
	color: #25BAD0;
}
