body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center
}

.jumbotron{
    background-image: url(earth.jpg);
    background-size: cover;
}

.jumbotron h1 {
    text-align: center;
    background: rgba(255, 255, 255, .5);
    padding: 15px;

}

.simplify-link {
  text-decoration: none;
}

.simplify-link:hover {
  text-decoration: none;
  color: blue;
}

.cloud-container {
  text-align: center;
}

.list-group {
  text-align: left;
}

.fa-github {
  color:#333
}
.fa:hover {
  color: grey;
}

@media(max-width: 480px) {
  h2, h3, h4, h5, h6 {
    font-size: 16pt;
  }
  h2.display-1{
    font-size: 16pt;
  }


@media screen and (min-width: 1200px) {
  div {
     font-size: 36px;
  }
  i{
    font-size: 12pt;
  }
}
}
