/*
Black: #2B2B2B;
Lightish: #F1F2F2;
Light Black Hover: rgba(0, 0, 0, 0.7);
Logo green: #5ca578;
Logo Yellow: #EDCD61;
*/

html {
  background-color: #F1F2F2;
  scroll-behavior: smooth;
}

body {
  padding-top: 76px; /* Space for fixed navbar */
  /* scroll-snap-type: y proximity; */
  background-color: #F1F2F2;s
}

section {
  margin: 0px;
  background-color: #F1F2F2;
}

.scroll-snap {
  /* scroll-snap-align: start; */
}

#masthead {
  text-align: center;
  background-color: #F1F2F2;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

#home_carousel .carousel-large .column-1 {
  padding-right: 0px;
  padding-left: 0px;
}

#home_carousel .carousel-large .column-2 {
  height: 100%;
  /* Vertical Align Text */
  display: flex;
  align-items: center;
  justify-content: left;
  /* makes bg more transparent without also doing that to text */
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/cloud_wave_shore.png");
  background-size: cover;
  padding: 3%;
}

#home_carousel .carousel-small {
  padding-right: 0px;
  padding-left: 0px;
  height: 60vh;
  background-color: #F1F2F2;
}

#home_carousel .carousel-large {
  height: 30vw;
  background-color: #F1F2F2;
}

#carouselTestimonials p {
  overflow: scroll;
}

#symposium {
  background-color: #F1F2F2;;
}

#donate {
  background-color: #F1F2F2;;
}

#who {
  background-color: #F1F2F2;
  text-align: center;
}

#who img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

#footer {
  color: #5ca578;
  background-color: #2B2B2B;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.scrolled-nav {
  box-shadow: 1px 2px 20px rgba(0, 0, 0, .2);
}

.navbar-background {
  background-color: #F1F2F2;
}

.navbar-brand {
  height: 70px;
}

.navbar-brand .favicon {
  border-radius: 50%;
}

.founder-button {
  color: #F1F2F2;
  background-color: #5ca578;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  box-shadow: 2px 4px 2px #999;
  border: none;
  padding: 0.5rem 1rem; /* nav-link css */
  text-align: center;
  display: inline-block; /* Prevents weird spacing */
}

.founder-button:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none; /* Prevent underlining on hover */
}

.founder-button:focus {
  outline: none;
}

.founder-button:active {
  box-shadow: 2px 3px 2px #666;
  outline: none;
  border: none;
  transform: translateY(2px); /* Moves button in down press */
}

.accordion-button {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  border: none;
  width: 100%;
}

.accordion-button:hover {
  text-decoration: none; /* Prevent underlining on hover */
  background-color: #d1d1d1;
  border-radius: 10px;
}

.accordion-button:focus {
  outline: none;
}

.accordion-button:active {
  text-decoration: none; /* Prevent underlining on hover */
  outline: none;
  border: none;
}

.card {
  border-radius: 10px!important;
}

.card-img-top {
  border-radius: 10px 10px 0px 0px!important;
}

/*
Place text over an image in the center
Do not include image in same div as text -- put text outside of image div
*/
.centered {
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease;
  margin: 0px;
  width: 100%;
}

.centered-container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.light-hr {
  border-top: 1px solid #F1F2F2;
}

/* To account for navbar while scrolling */
.anchor {
  display: block;
  height: 100px; /* same height as header plus extra space */
  margin-top: -100px; /* same height as header plus extra space */
  visibility: hidden;
}

.masthead-height {
  height: 75%;
}

.testimonial-image {
  filter: brightness(70%);
}
