/*
Black: #2B2B2B;
Lightish: #F1F2F2;
Light Black Hover: rgba(0, 0, 0, 0.7);
Logo green: #43A858;
*/

html {
  background-color: #F1F2F2;
}

body {
  padding-top: 76px;
}

#masthead {
  text-align: center;
  background-color: #F1F2F2;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

#footer {
  color: #43A858;
  background-color: #2B2B2B;
  padding: 30px;
}

.navbar {
  font-family: sans-serif;
}

.navbar-background {
  background-color: #F1F2F2;
}

.navbar-brand {
  height: 70px;
}

.founder-button {
  color: #F1F2F2;
  display: block;  /* nav-link css */
  padding: 0.5rem 1rem; /* nav-link css */
  background-color: #43A858;
  border-radius: 10px;
  box-shadow: 2px 4px 2px #999;
  border: none;
}

.founder-button:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none; /* Prevent underlining on hover */
}

.founder-button:active {
  box-shadow: 2px 3px 2px #666;
  outline: none;
  border: none;
  transform: translateY(2px); /* Moves button in down press */
}

.founder-button:focus {
  outline: none;
}

.carousel-large .column-1 {
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-large .column-2 {
  height: 100%;
  /* Vertical Align Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

.carousel-small {
  padding-right: 0px;
  padding-left: 0px;
  height: 60vh;
  background-color: #F1F2F2;
}

.carousel-large {
  height: 30vw;
  background-color: #F1F2F2;
}


.column-2 {
  /* makes bg more transparent without also doing that to text */
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/cloud_wave_shore.png");
  background-size: cover;
}


/*
Place text over an image in the center
Do not include image in same div as text -- put text outside of image div
*/
.centered {
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.light-hr {
  border-top: 1px solid #F1F2F2;
}
