/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}


/* md-breakpoint */
@media (max-width: 768px) {
  .carousel-row {
    height: 60vh;
  }
  .carousel-row .column-1 {
    filter: brightness(50%);
  }
  /* To account for navbar while scrolling */
  .anchor {
    display: block;
    height: 80px; /* same height as header plus extra space */
    margin-top: -80px; /* same height as header plus extra space */
    visibility: hidden;
  }
 }

/* Navbar switches to collapsed */
@media (max-width: 991px) {
  body {
    padding-top: 58px;
  }
  .navbar-brand {
    height: 45px;
  }
  .founder-button {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .masthead-height {
    height: 100%;
  }
}
